@charset "utf-8";
@import url("common/reset.css");
@import url("common/util.css");

* {font-family:'Noto Sans','Apple SD Gothic Neo','맑은고딕','MalgunGothic', 'AppleGothic', sans-serif;}
strong, .clearBold{font-family:'NS-b'; font-weight: normal;}  

/* //////////////// 3. Typography ////////////////*/
/* Font Embeded */
@font-face{font-family:'Noto Sans';
    src: url('../fonts/NotoSansKR-Regular.otf') format('opentype'),
    url('../fonts/NotoSansKR-Regular.woff') format('woff'),
    url('../fonts/NotoSansKR-Regular.woff2') format('woff2');
    }
@font-face{font-family:'NS-b';
    src: url('../fonts/NotoSansKR-Medium.otf') format('opentype'),
    url('../fonts/NotoSansKR-Medium.woff') format('woff'),
    url('../fonts/NotoSansKR-Medium.woff2') format('woff2');
    }
