@charset "utf-8";

/* ~ 2018 폰트아이콘 */
@font-face {
  font-family: 'allonebank';
  src:  url('../../../fonts/allonebank.eot?pluamj');
  src:  url('../../../fonts/allonebank.eot?pluamj#iefix') format('embedded-opentype'),
    url('../../../fonts/allonebank.ttf?pluamj') format('truetype'),
    /*url('../../../fonts/allonebank.woff?pluamj') format('woff'),*/
    url('../../../fonts/allonebank.svg?pluamj#allonebank') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* 2019 폰트아이콘*/

@font-face {
  font-family: 'allonebank2';
  src:  url('../../fonts/allonebank2.eot?s7j48e');
  src:  url('../../../fonts/allonebank2.eot?s7j48e#iefix') format('embedded-opentype'),
    url('../../../fonts/allonebank2.ttf?s7j48e') format('truetype'),
    /*url('../../../fonts/allonebank2.woff?s7j48e') format('woff'),*/
    url('../../../fonts/allonebank2.svg?s7j48e#allonebank2') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'allonebank3';
  src:  url('../../fonts/allonebank3.eot?s7j48e');
  src:  url('../../../fonts/allonebank3.eot?s7j48e#iefix') format('embedded-opentype'),
    url('../../../fonts/allonebank3.ttf?s7j48e') format('truetype'),
    /*url('../../../fonts/allonebank3.woff?s7j48e') format('woff'),*/
    url('../../../fonts/allonebank3.svg?s7j48e#allonebank2') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


.i-chatbot:before {content: "\e9ad";}
.i-fiber_manual_record:before {content: "\e973";}
.i-dot-single:before {content: "\ea30";}
.i-won-sign:before {content: "\e974";}
.i-attach_money:before {content: "\e979";}
.i-ionicons_svg_ios-text:before {content: "\e90e";}
.i-ionicons_svg_ios-locate:before {content: "\e90f";}
.i-ionicons_svg_ios-time:before {content: "\e910";}
.i-ionicons_svg_md-locate:before {content: "\e911";}
.i-ionicons_svg_md-share:before {content: "\e91f";}
.i-ionicons_svg_md-time:before {content: "\e975";}
.i-ios-camera:before {content: "\e976";}
.i-ios-remove:before {content: "\e977";}
.i-ios-arrow-round-back:before {content: "\e978";}
.i-ios-arrow-round-down:before {content: "\e97a";}
.i-ios-arrow-round-forward:before {content: "\e97b";}
.i-ios-arrow-round-up:before {content: "\e97c";}
.i-ios-arrow-dropdown-circle:before {content: "\e97d";}
.i-ios-arrow-dropleft-circle:before {content: "\e97e";}
.i-ios-arrow-dropright-circle:before {content: "\e97f";}
.i-ios-arrow-dropup-circle:before {content: "\e980";}
.i-ios-checkmark-circle-outline:before {content: "\e981";}
.i-ios-checkmark-circle:before {content: "\e982";}
.i-ios-checkmark:before {content: "\e983";}
.i-ios-close:before {content: "\e984";}
.i-ios-add:before {content: "\e985";}
.i-comment:before {content: "\e986";}
.i-modify:before {content: "\e987";}
.i-mall:before {content: "\e988";}
.i-scope:before {content: "\e059";}
.i-ios-alert:before {content: "\e98a";}
.i-ios-arrow-back:before {content: "\e98b";}
.i-ios-arrow-down:before {content: "\e98c";}
.i-ios-arrow-dropdown:before {content: "\e98d";}
.i-ios-arrow-dropleft:before {content: "\e98e";}
.i-ios-arrow-dropright:before {content: "\e98f";}
.i-ios-arrow-dropup:before {content: "\e990";}
.i-ios-arrow-forward:before {content: "\e991";}
.i-ios-arrow-up:before {content: "\e992";}
.i-ios-help-circle-outline:before {content: "\e993";}
.i-ios-help-circle:before {content: "\e994";}
.i-ios-help:before {content: "\e995";}
.i-ios-information-circle-outline:before {content: "\e996";}
.i-ios-information-circle:before {content: "\e997";}
.i-ios-information:before {content: "\e998";}
.i-ios-pause:before {content: "\e999";}
.i-ios-play:before {content: "\e99a";}
.i-ios-skip-backward:before {content: "\e99b";}
.i-ios-skip-forward:before {content: "\e99c";}
.i-logo-youtube:before {content: "\e99d";}
.i-md-arrow-dropdown:before {content: "\e99e";}
.i-md-arrow-dropup:before {content: "\e99f";}
.i-md-help-circle-outline:before {content: "\e9a0";}
.i-md-help-circle:before {content: "\e9a1";}
.i-md-help:before {content: "\e9a2";}
.i-md-locate:before {content: "\e9a3";}
.i-md-play-circle:before {content: "\e9a4";}
.i-md-radio-button-off:before {content: "\e9a5";}
.i-md-radio-button-on:before {content: "\e9a6";}
.i-md-thumbs-down:before {content: "\e9a7";}
.i-md-thumbs-up:before {content: "\e9a8";}
.i-arrow-left-thin:before {content: "\e9a9";}
.i-arrow-right-thin:before {content: "\e9aa";}
.i-arrow-up-thin:before {content: "\e9ab";}
.i-arrow-down-thin:before {content: "\e9ac";}
.i-file-excel:before {content: "\e9e9";}
.i-file-pdf:before {content: "\e9ea";}
.i-file-powerpoint:before {content: "\e9ec";}
.i-file-word:before {content: "\e9ee";}
.i-dollar1:before {content: "\f155";}
.i-krw:before {content: "\f159";}
.i-file-pdf-o:before {content: "\f1c1";}
.i-file-word-o:before {content: "\f1c2";}
.i-file-excel-o:before {content: "\f1c3";}
.i-file-powerpoint-o:before {content: "\f1c4";}
.i-check:before {content: "\e92b";}
.i-select-check:before {content: "\e92c";}
.i-bold-arrow-down:before {content: "\e92d";}
.i-bold-arrow-up:before {content: "\e92e";}
.i-double-arrow-left:before {content: "\e92f";}
.i-double-arrow-right:before {content: "\e930";}
.i-arrow-right:before {content: "\e931";}
.i-arrow-left:before {content: "\e932";}
.i-arrow-up:before {content: "\e933";}
.i-arrow-down:before {content: "\e934";}
.i-heard-filled:before {content: "\e935";}
.i-heart:before {content: "\e936";}
.i-search:before {content: "\e937";}
.i-filter:before {content: "\e938";}
.i-call:before {content: "\e939";}
.i-kakao-talk:before {content: "\e93a";}
.i-kakao-story:before {content: "\e93b";}
.i-twitter:before {content: "\e93c";}
.i-facebook:before {content: "\e93d";}
.i-edit1:before {content: "\e969";}
.i-external-link:before {content: "\e923";}
.i-anchor:before {content: "\e93e";}
.i-arrow-share:before {content: "\e93f";}
.i-share:before {content: "\e940";}
.i-mail:before {content: "\e941";}
.i-percent:before {content: "\e942";}
.i-type:before {content: "\e900";}
.i-thumbs-up:before {content: "\e901";}
.i-thumbs-down:before {content: "\e902";}
.i-x:before {content: "\e943";}
.i-delete:before {content: "\e904";}
.i-trash-2:before {content: "\e944";}
.i-calendar:before {content: "\e905";}
.i-menu:before {content: "\e945";}
.i-more-horizontal:before {content: "\e946";}
.i-more:before {content: "\e906";}
.i-notice:before {content: "\e907";}
.i-exchange:before {content: "\e908";}
.i-location:before {content: "\e909";}
.i-map-pin:before {content: "\e947";}
.i-minus:before {content: "\e948";}
.i-minus-circle:before {content: "\e949";}
.i-plus:before {content: "\e94a";}
.i-plus-circle:before {content: "\e94b";}
.i-slash:before {content: "\e94c";}
.i-maximize:before {content: "\e94d";}
.i-long-arrow-down:before {content: "\e90b";}
.i-long-arrow-up:before {content: "\e94e";}
.i-chevrons-left:before {content: "\e958";}
.i-chevrons-right:before {content: "\e959";}
.i-chevron-left:before {content: "\e95a";}
.i-chevron-right:before {content: "\e95b";}
.i-star-filled:before {content: "\e90c";}
.i-favorite:before {content: "\e90d";}
.i-search-btn:before {content: "\e94f";}
.i-phone:before {content: "\e950";}
.i-phone-call:before {content: "\e951";}
.i-send:before {content: "\e912";}
.i-link-btn:before {content: "\e913";}
.i-authen-certificate:before {content: "\e914";}
.i-dollar:before {content: "\e915";}
.i-won:before {content: "\e916";}
.i-alert-circle:before {content: "\e96a";}
.i-alert-triangle:before {content: "\e96b";}
.i-clock:before {content: "\e96c";}
.i-copy:before {content: "\e971";}
.i-hash:before {content: "\e972";}
.i-music-notes:before {content: "\e96d";}
.i-share-alt:before {content: "\e952";}
.i-cheveron-left:before {content: "\e917";}
.i-cheveron-right:before {content: "\e918";}
.i-play2:before {content: "\e96e";}
.i-play-outline:before {content: "\e96f";}
.i-pause-outline:before {content: "\e970";}
.i-pause:before {content: "\e919";}
.i-close-x:before {content: "\e91a";}
.i-target:before {content: "\e91b";}
.i-arrow-thin-up:before {content: "\e953";}
.i-video-call:before {content: "\e903";}
.i-tip:before {content: "\e90a";}
.i-new:before {content: "\e921";}
.i-edit:before {content: "\e95e";}
.i-history-import:before {content: "\e95f";}
.i-memo-import:before {content: "\e967";}
.i-fill-form:before {content: "\e960";}
.i-complete:before {content: "\e961";}
.i-sharesns:before {content: "\e962";}
.i-caret-up1:before {content: "\f0d8";}
.i-caret-down1:before {content: "\f0d7";}
.i-caret-right1:before {content: "\f0da";}
.i-play1:before {content: "\f04b";}
.i-help:before {content: "\e91c";}
.i-download:before {content: "\e91d";}
.i-cs:before {content: "\e91e";}
.i-like:before {content: "\e954";}
.i-dislike:before {content: "\e955";}
.i-barcode:before {content: "\f02a";}
.i-close:before {content: "\e920";}
.i-mypage:before {content: "\e963";}
.i-setting:before {content: "\e922";}
.i-bell:before {content: "\e956";}
.i-mic:before {content: "\e964";}
.i-login:before {content: "\e95c";}
.i-logout:before {content: "\e95d";}
.i-nav:before {content: "\e924";}
.i-home:before {content: "\e925";}
.i-exclamation:before {content: "\e965";}
.i-transaction:before {content: "\e926";}
.i-invite:before {content: "\e927";}
.i-refresh:before {content: "\e966";}
.i-angle-double-left:before {content: "\f100";}
.i-angle-double-right:before {content: "\f101";}
.i-angle-left:before {content: "\f104";}
.i-angle-right:before {content: "\f105";}
.i-faceid:before {content: "\e957";}
.i-pattern:before {content: "\e968";}
.i-circle:before {content: "\f112";}
.i-play-circle:before {content: "\f145";}
.i-paper-plane:before {content: "\f1d8";}
.i-send1:before {content: "\f1d8";}
.i-paper-plane-o:before {content: "\f1d9";}
.i-send-o:before {content: "\f1d9";}
.i-copyright:before {content: "\f1f9";}
.i-at:before {content: "\f1fa";}
.i-trademark:before {content: "\f25c";}
.i-telegram:before {content: "\f2c6";}
.i-scope1:before {content: "\e058";}
.i-arrow-move:before {content: "\e928";}
.i-finger-print:before {content: "\e929";}
.i-simple-password:before {content: "\e92a";}
.i-arrow-up-bold:before {content: "\ea3a";}
.i-link:before {content: "\e9cb";}


/* 2019-09-17 신규아이콘폰트 등록(메인화면위주) */
.i-security:before {content: "\f900";}
.i-customer:before {content: "\f902";}
.i-more:before {content: "\f903";}
/* 전체메뉴 타이틀 */
.i-allNav1:before {content: "\f904";}
.i-allNav2:before {content: "\f905";}
.i-allNav3:before {content: "\f906";}
.i-allNav4:before {content: "\f907";}
.i-allNav5:before {content: "\f908";}
.i-allNav6:before {content: "\f917";}
.i-allNav7:before {content: "\f90e";}
/* 메인 */
.accLinkList .iconCom11:before{content:"\f939";}
.flickingIcon02:before {content: "\f909";}
.flickingIcon03:before {content: "\f90a";}
.flickingIcon04:before {content: "\f90b";}
.flickingIcon05:before {content: "\f90c";}
.flickingIcon06:before {content: "\f90d";}
/* .flickingIcon07:before {content: "\f91e";} */
.flickingIcon07:before {content: "\f955";color: rgb(172, 240, 214);}
.flickingIcon07:after {content: "\f956";margin-left: -1em;color: rgb(34, 34, 34);font-size:25px;}
.flickingIcon08:before {content: "\f925";}
.iconCom12:before{content:'\f925';}
.iconCom12:before{display:inline-block;font-size:25px}


/* 금융 */
.inquire01:before {content: "\f911";}
.inquire02:before {content: "\f912";}
.inquire03:before {content: "\f913";}
.inquire04:before {content: "\f914";}
/* 금융 - NH통합자산 */
.inquire05:before {content: "\f915";}
.inquire06:before {content: "\f916";}
.inquire07:before {content: "\f917";}
.inquire08:before {content: "\f918";}
.inquire09:before {content: "\f919";}
.inquire10:before {content: "\f91a";}
.inquire11:before {content: "\f91b";}
.inquire12:before {content: "\f923";}
.inquire13:before {content: "\f91c";}
.inquire14:before {content: "\f91d";}
/* 상품 - 전체상품 */
.prod01:before {content: "\f91e";}
.prod02:before {content: "\f91f";}
.prod03:before {content: "\f920";}
.prod04:before {content: "\f921";}
.prod05:before {content: "\f922";}
.prod06:before {content: "\f924";}
/* 결제 */
.iconCom11:before {content: "\f938";}
.iconCom12:before {content: "\f925";}
.iconCom13:before {content: "\f926";}
/* 마이메뉴 */
.flickingIcon11:before {content: "\f930";}
.flickingIcon12:before {content: "\f90d";}
.flickingIcon13:before {content: "\f90f";}
.flickingIcon14:before {content: "\f90d";}
.flickingIcon15:before {content: "\f90e";}
.flickingIcon16:before {content: "\f90e";}
.flickingIcon17:before {content: "\f931";}
.flickingIcon18:before {content: "\f910";}
.flickingIcon19:before {content: "\f914";}
.flickingIcon1a:before {content: "\f90d";}
.flickingIcon1b:before {content: "\f954";} /* 2019-10-29 추가 */
.flickingIcon21:before {content: "\f939";}
.flickingIcon22:before {content: "\f90d";}
.flickingIcon23:before {content: "\f938";}
.flickingIcon24:before {content: "\f925";}
.flickingIcon25:before {content: "\f926";}
.flickingIcon26:before {content: "\f90d";}
.flickingIcon27:before {content: "\f952";}
.flickingIcon28:before {content: "\f93b";}
.flickingIcon29:before {content: "\f93c";}
.flickingIcon2a:before {content: "\f93d";}
.flickingIcon31:before {content: "\f911";}
.flickingIcon32:before {content: "\f90e";}
.flickingIcon33:before {content: "\f912";}
.flickingIcon34:before {content: "\f932";}
.flickingIcon35:before {content: "\f933";}
.flickingIcon36:before {content: "\f913";}
.flickingIcon37:before {content: "\f934";}
.flickingIcon38:before {content: "\f935";}
.flickingIcon39:before {content: "\f936";}
.flickingIcon3a:before {content: "\f90d";}
.flickingIcon3b:before {content: "\f937";}
.flickingIcon3c:before {content: "\f936";}
.flickingIcon41:before {content: "\f93e";}
.flickingIcon42:before {content: "\f90d";}
.flickingIcon43:before {content: "\f90b";}
.flickingIcon44:before {content: "\f90a";}
.flickingIcon45:before {content: "\f93f";}
.flickingIcon46:before {content: "\f940";}
.flickingIcon47:before {content: "\f941";}
.flickingIcon48:before {content: "\f942";}
.flickingIcon51:before {content: "\f943";}
.flickingIcon52:before {content: "\f944";}
.flickingIcon53:before {content: "\f945";}
.flickingIcon54:before {content: "\f946";}
.flickingIcon55:before {content: "\f947";}
.flickingIcon56:before {content: "\f948";}
.flickingIcon57:before {content: "\f949";}
.flickingIcon58:before {content: "\f94a";}
.flickingIcon59:before {content: "\f94b";}
.flickingIcon5a:before {content: "\f94c";}
.flickingIcon5b:before {content: "\f94d";}
.flickingIcon5c:before {content: "\f94e";}
.flickingIcon5d:before {content: "\f950";}
.flickingIcon5e:before {content: "\f951";}
.flickingIcon5f:before {content: "\f953";}
.flickingIcon5g:before {content: "\f94f";}
.flickingIcon61:before {content: "\f93a";}

.noticeMsg:before {content: "\f927";}
.completeMsg:before {content: "\f928";}
.checkMsg:before {content: "\f929";color: rgb(34, 34, 34);width:auto;}
.checkMsg:after {content: "\f92a";margin-left: -1.3408203125em;color: rgb(91, 155, 251);position:absolute;top:30px;display:block;left:50%;width:auto;height: 52px;font-family: 'allonebank2';font-size: 60px;line-height: 1;margin: 0 auto;transform:translateX(-50%);}
/* .i-bell2:before {content: "\f92f";} */
.i-bell3:before {content: "\f92e";}
.i-refresh2:before {content: "\f92b";}
.send-btn:before {content: "\f92c";}
.voice-btn:before {content: "\f92d";}
.angle-right:before {content: "\f105";}

[class^="ico-"], [class*=" ico-"]  {font-family: 'allonebank2020';}
.ico-icon_nav:before {
  content: "\e100";
}
.ico-icon_mypage:before {
  content: "\e101";
}
.ico-icon_home:before {
  content: "\e102";
}
.ico-icon_login:before {
  content: "\e103";
}
.ico-icon_logout:before {
  content: "\e104";
}
.ico-icon_alarm:before {
  content: "\e105";
}
.ico-icon_search:before {
  content: "\e106";
}
.ico-icon_ai .path1:before {
  content: "\e107";
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.ico-icon_ai .path2:before {
  content: "\e108";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.ico-icon_ai .path3:before {
  content: "\e109";
  margin-left: -1em;
  color: rgb(39, 62, 94);
}
.ico-icon_ai .path4:before {
  content: "\e10a";
  margin-left: -1em;
  color: rgb(34, 166, 188);
}
.ico-icon_more:before {
  content: "\e210";
}
.ico-icon_setting:before {
  content: "\e211";
}
.ico-icon_close:before {
  content: "\e212";
}
.ico-icon_clear:before {
  content: "\e213";
}
.ico-icon_plus:before {
  content: "\e214";
}
.ico-icon_minus:before {
  content: "\e215";
}
.ico-icon_check:before {
  content: "\e216";
}
.ico-icon_left:before {
  content: "\e217";
}
.ico-icon_down:before {
  content: "\e218";
}
.ico-icon_right:before {
  content: "\e219";
}
.ico-icon_arrow_right:before {
  content: "\e220";
}
.ico-icon_select_check:before {
  content: "\e221";
}
.ico-icon_arrow_up:before {
  content: "\e222";
}
.ico-icon_arrow_left:before {
  content: "\e223";
}
.ico-icon_tooltip:before {
  content: "\e224";
}
.ico-icon_tooltip_on:before {
  content: "\e225";
}
.ico-icon_info:before {
  content: "\e226";
}
.ico-icon_alert:before {
  content: "\e227";
}
.ico-icon_modify:before {
  content: "\e228";
}
.ico-icon_edit:before {
  content: "\e229";
}
.ico-icon_filter:before {
  content: "\e230";
}
.ico-icon_share:before {
  content: "\e231";
}
.ico-icon_link:before {
  content: "\e232";
}
.ico-icon_favorite:before {
  content: "\e233";
}
.ico-icon_favorite_on:before {
  content: "\e234";
}
.ico-icon_heart:before {
  content: "\e235";
}
.ico-icon_heard_filled:before {
  content: "\e236";
}
.ico-icon_calendar:before {
  content: "\e237";
}
.ico-icon_delete:before {
  content: "\e238";
}
.ico-icon_phonebook:before {
  content: "\e239";
}
.ico-icon_my:before {
  content: "\e240";
}
.ico-icon_allone:before {
  content: "\e241";
}
.ico-icon_shield:before {
  content: "\e242";
}
.ico-icon_faceid:before {
  content: "\e243";
}
.ico-icon_thumb:before {
  content: "\e244";
}
.ico-icon_password:before {
  content: "\e245";
}
.ico-icon_shield2:before {
  content: "\e246";
}
.ico-icon_pattern:before {
  content: "\e247";
}
.ico-icon_mail:before {
  content: "\e248";
}
.ico-icon_071-copy:before {
  content: "\e249";
}
.ico-icon_refresh:before {
  content: "\e250";
}
.ico-icon_download:before {
  content: "\e251";
}
.ico-icon_pin:before {
  content: "\e252";
}
.ico-icon_kakaotalk:before {
  content: "\e253";
}
.ico-icon_cs:before {
  content: "\e254";
}
.ico-icon_won:before {
  content: "\e255";
}
.ico-icon_nh:before {
  content: "\e256";
}
.ico-icon_bag:before {
  content: "\e257";
}
.ico-icon_card:before {
  content: "\e258";
}
.ico-icon_tax:before {
  content: "\e259";
}
.ico-icon_dallar:before {
  content: "\e260";
}
.ico-icon_withdrawl:before {
  content: "\e261";
}
.ico-icon_call:before {
  content: "\e262";
}
.ico-ico_call2:before {
  content: "\e263";
}
.ico-icon_send:before {
  content: "\e264";
}
.ico-icon_mic:before {
  content: "\e265";
}
.ico-icon_copy:before {
  content: "\e266";
}
.ico-icon_chat:before {
  content: "\e267";
}
.ico-icon_address:before {
  content: "\e268";
}
.ico-icon_agree:before {
  content: "\e269";
}
.ico-icon_063:before {
  content: "\e270";
}
.ico-icon_document:before {
  content: "\e271";
}
.ico-ico_sub_confirm01:before {
  content: "\e272";
}
.ico-ico_sub_confirm02:before {
  content: "\e273";
}
.ico-icon_shield3 .path1:before {
  content: "\e274";
  color: rgb(57, 61, 89);
}
.ico-icon_shield3 .path2:before {
  content: "\e275";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ico-icon_shield3 .path3:before {
  content: "\e276";
  margin-left: -1em;
  color: rgb(84, 172, 217);
}
.ico-icon_shield3 .path4:before {
  content: "\e277";
  margin-left: -1em;
  color: rgb(84, 172, 217);
}
.ico-icon_shield3 .path5:before {
  content: "\e278";
  margin-left: -1em;
  color: rgb(255, 244, 149);
}
.ico-icon_shield3 .path6:before {
  content: "\e279";
  margin-left: -1em;
  color: rgb(57, 61, 89);
}
.ico-icon_cs3 .path1:before {
  content: "\e280";
  color: rgb(255, 255, 255);
}
.ico-icon_cs3 .path2:before {
  content: "\e281";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ico-icon_cs3 .path3:before {
  content: "\e282";
  margin-left: -1em;
  color: rgb(187, 143, 230);
}
.ico-icon_cs3 .path4:before {
  content: "\e283";
  margin-left: -1em;
  color: rgb(230, 229, 228);
}
.ico-icon_cs3 .path5:before {
  content: "\e284";
  margin-left: -1em;
  color: rgb(57, 61, 89);
}
.ico-icon_chat2 .path1:before {
  content: "\e285";
  color: rgb(255, 255, 255);
}
.ico-icon_chat2 .path2:before {
  content: "\e286";
  margin-left: -1em;
  color: rgb(57, 61, 89);
}
.ico-icon_chat2 .path3:before {
  content: "\e287";
  margin-left: -1em;
  color: rgb(84, 172, 217);
}
.ico-icon_chat2 .path4:before {
  content: "\e288";
  margin-left: -1em;
  color: rgb(84, 172, 217);
}
.ico-icon_sign .path1:before {
  content: "\e290";
  color: rgb(34, 34, 34);
}
.ico-icon_sign .path2:before {
  content: "\e291";
  margin-left: -1.0888671875em;
  color: rgb(91, 155, 251);
}
.ico-icon_kakao_story:before {
  content: "\e292";
}
.ico-icon_twitter:before {
  content: "\e293";
}
.ico-icon_twitter1:before {
  content: "\e294";
}
.ico-icon_facebook:before {
  content: "\e295";
}
.ico-icon_youtube:before {
  content: "\e296";
}
.ico-icon_bigfont:before {
  content: "\e297";
}
.ico-icon_zeropay:before {
  content: "\e298";
}
.ico-icon_allonebank:before {
  content: "\e299";
}
.ico-ico_naverpay:before {
  content: "\e300";
}
.ico-ico_kakaopay:before {
  content: "\e301";
}
.ico-ico_nhmall:before {
  content: "\e302";
}



